In [1]:
# Import Modules
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests

In [2]:
# Create Path
executable_path = {'executable_path' : ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless= False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\mathi\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

NASA MARS NEWS

In [3]:
# Establish url variable
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html 
news_soup = bs(html, 'html.parser')

slide_element = news_soup.select_one('div.list_text')

In [5]:
slide_element.find('div', class_ ='content_title')

In [6]:
# 
news_title = slide_element.find('div', class_= 'content_title').get_text()
news_title

"NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause"

In [7]:
news_p = slide_element.find('div', class_= 'article_teaser_body').get_text()
news_p

"Now that the lander's robotic arm has helped the mole get underground, it will resume science activities that have been on hold."

JPL Mars Space Images

In [8]:
#visit url
featured_image_url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [10]:
# Pull images
full_image_elem = browser.find_by_tag('button')
full_image_elem.click()

In [12]:
# Parse the resulting html with soup
html = browser.html
img_soup = bs(html, 'html.parser')

In [16]:
# find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image')
img_url_rel

In [17]:
'image/featured/mars2.jpg'

'image/featured/mars2.jpg'

In [18]:
# Use the base url to create an absolute url
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/None'

In [19]:
'https://spaceimages-mars.com/image/featured/mars2.jpg'

'https://spaceimages-mars.com/image/featured/mars2.jpg'

MARS FACTS

In [ ]:
mars_facts_url = "https://space-facts.com/mars/"
table = pd.read_html(mars_facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
mars_df = table[0]
mars_df.columns = ["Fact", "Value"]
mars_df.set_index(["Fact"])
mars_df

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

Hemispheres

In [ ]:
url = 'https://marshemispheres.com'

browser.visit(url)

In [ ]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Get a list of all of the hemispheres
links = browser.find_by_css('a.product-item img')

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    hemisphere = {}
    
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css('a.product-item img')[i].click()
    
    # Next, we find the Sample image anchor tag and extract the href
    sample_elem = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    # Get Hemisphere title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    # Append hemisphere object to list
    hemisphere_image_urls.append(hemisphere)
    
    # Finally, we navigate backwards
    browser.back()

In [ ]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [ ]:
browser.quit()